.filters {
  grid-column: 1 / 1;
  background: #ffffff;
  height: min-content;
  position: -webkit-sticky;
  position: sticky;
  top: -1px;

  .filter-category {
    padding: .5rem;
    margin-top: 1rem;
    box-sizing: border-box;

    &:first-child {
      margin-top: 0;
    }

    h3 {
      font-size: .9rem;
      text-transform: uppercase;
      margin: 0;
      margin-bottom: .4rem;
      padding-bottom: .2rem;
      box-sizing: border-box;
      width: 100%;
      color: #575757;
      border-bottom: 1px solid #575757;
    }

    .collection {
      padding: 0;
      margin: 0;
      list-style-type: none;
      font-size: .9rem;
    }
  }

  .filter {
    padding: .3rem;
    box-sizing: border-box;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: .35rem;

    span {
      margin-left: .5rem;
      display: inline-block;
    }

    &:hover {
      background: #eeeeee;
      cursor: pointer;
    }
  }
}
