.lobby-login
  height: 100vh
  width: 100%
  display: flex
  justify-content: center
  align-items: center

  .login-form
    background: secundary
    padding: .45em
    box-sizing: border-box
    border-radius: .25rem
    color: text
