.log-in {
  padding-top: 50px;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  form {
    .preview-avatar {
      height: 200px;
      width: 200px;
      max-width: 200px;
      border-radius: 100%;
      margin-bottom: 20px;
      overflow: hidden;

      img {
        height: 100%;
        width: 100%;
      }
    }

    input {
      text-align: center;
    }
  }
}
