.product-modal-container {
  height: 400px;

  .product-modal {
    display: flex;
    height: 100%;
    
    .image-container {
      width: 30%;
  
      img {
        display: inline-block;
        margin: auto;
        max-width: 100%;
        height: auto;
      }
    }
  
    .details-container {
      width: 80%; 
      padding: .5rem;
      box-sizing: border-box;
      position: relative;
      
      h3 {
        margin: 0;
        padding-bottom: .4rem;
        box-sizing: border-box;
      }
  
      .brand-stripe {
        font-size: .9rem;
      }

      .product-rating {
        display: block;
        padding: .5rem 0;
        box-sizing: border-box;
      }

      .product-properties {
        margin: 0;
        margin-top: 1rem;
        padding: 0;
        list-style-type: none;
        display: flex;

        .property {
          margin-left: 1rem;
          margin-bottom: 1rem;
        
          span {
            display: block;
            font-size: .9rem;
            padding-bottom: .5rem;
            box-sizing: border-box;
          }
        
          &:first-child {
            margin-left: 0;
          }
        }
      }
    }

    footer {
      width: 100%;
      text-align: right;
      padding: 1rem;
      padding-bottom: 0;
      box-sizing: border-box;
      position: absolute;
      bottom: 0;
    }
  }  
}
