@import '~assets/theme.scss';

.search {
  height: 35px;
  padding: .3rem .3rem .3rem 1rem;
  box-sizing: border-box;
  display: flex;
  border: 1px solid $dark;
  border-radius: 100px;
  margin-right: .5rem;
  background: $dark;
  padding-left: .5rem;

  input {
    background: transparent;
    border: none;
    border-bottom: 1px solid $light;
    color: $light;
    font-size: 1rem;
    display: inline-block;
  }

  button {
    width: 30px;
    background: transparent;
    border: none;

    * {
      color: $light;
      font-size: 1rem;
    }
  }
}
