@import '~assets/theme.scss';

.site-footer {
  background: $secondary;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;

  small {
    color: #ffe760;

    * {
      color: inherit;
    }
  }
}
