.products {
  min-height: calc(100vh - 430px);

  .showcase {
    padding: 0;
    margin: 0 auto;
    list-style-type: none;
    display: flex;
    width: fit-content;
    display: grid;
    gap: .5rem;
    grid-template-columns: repeat(6, 190px);
  }
  
  .product-preview {
    display: flex;
  
    .image-contaier {
      max-width: 50%;
    }
  }

  @media only screen and (max-width: 1200px) {
    .showcase {
      grid-template-columns: repeat(5, 190px);
    }
  }
  
  @media only screen and (max-width: 1020px) {
    .showcase {
      grid-template-columns: repeat(4, 190px);
    }
  }
  
  @media only screen and (max-width: 800px) {
    .showcase {
      grid-template-columns: repeat(3, 190px);
    }
  }
  
  @media only screen and (max-width: 620px) {
    .showcase {
      grid-template-columns: repeat(2, 190px);
    }
  }

  @media only screen and (max-width: 420px) {
    .showcase {
      grid-template-columns: 190px;
    }
  }
}
