@import '~theme/index.styl'

.lobby-chat
  display: grid
  grid-template-columns: minmax(260px, 320px) auto
  width: 100%

  .management
    grid-column: 1 / 1
    background: lightText

  .conversation
    grid-column: 2 / 2
    width: 100%
    height 100vh
    background: info
