// Color Scheme
primary = #24B4A5
secondary = #81D6AF
positive = #1DC153
negative = #CB1A1B
warning = #FDD741
info = #F4F3ED
disabled = #B4C8DF
textLigth = #FFFFFF
textDark = #111111

// Special Colors
notify = #FF0037

// Fonts
default-fonts = 'Muli', sans-serif
