@import '~theme/index.styl';

.lobby-nav
  grid-column: 1 / 1
  background: #373737
  color: #ffffff
  text-align: center
  padding: .5rem 0
  box-sizing: border-box
  height: 100vh

  .user-avatar
    height: 60px
    display: flex
    justify-content: center
    align-items: center
    flex-direction: column
  
  ul
    padding: 0
    margin: 0
    list-style-type: none

    .nav-item
      height: 60px
      display: flex
      justify-content: center
      align-items: center
      cursor: pointer
      border-left: 3px solid transparent
      position: relative
      &:hover
        background: #484848
        transition: .2s

    .nav-item-notification
      font-size: 8px
      color: notify
      position: absolute
      top: 0
      right: 0
      margin: .6rem

    .nav-item.active
      border-color: primary
      background: #484848
