.lobby-form-input-default
  padding-top: 1rem
  box-sizing: border-box

  *
    font-size: 1rem

  label
    display: block
    margin-bottom: 1rem

  input, select
    padding: .25rem .8rem
    box-sizing: border-box

.lobby-input
  input
    border-radius: .8rem
    border: 1px solid #dddddd
    outline: none
    font-family: inherit
    transition: .5s
    
    &:active, &:focus, &:hover
      border-color: #3793AE
      box-shadow: .3px .3px .3px .3px #3793AEAA
      transition: .5s

.lobby-input-select
  .lobby-select-placeholder
    appearance: none
    -webkit-appearance: none
    -moz-appearance: none
    color: #dddddd !important

  select
    appearance: none
    -webkit-appearance: none
    -moz-appearance: none
    border-radius: .8rem
    border: 1px solid #dddddd
    outline: none
    font-family: inherit
    transition: .5s
    width: 100%
    cursor: pointer

    &:active, &:focus, &:hover
      border-color: #3793AE
      box-shadow: .3px .3px .3px .3px #3793AEAA
      transition: .5s
