.product-item {
  background: #ffffff;
  color: #222222;

  .previewer {
    padding: .5rem 0;
    box-sizing: border-box;
    display: inline-block;
    width: calc(100% - 10%);
    margin: 0 5%;

    img {
      width: 100%;
    }
  }

  article {
    display: flex;
    flex-direction: column;
    grid-row: 2 / 2;
    padding: .5rem 0;
    box-sizing: border-box;

    * {
      text-align: center;
      font-size: .9rem;
      text-transform: uppercase;
    }

    h4 {
      font-size: .9rem;
      margin: .1rem 0;
    }

    span {
      font-weight: bold;
    }

    button {
      background: none;
      border: none;
      color: #aaaaaa;
    }
  }
}
