.showcase {
  padding: 0;
  margin: 0;
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  flex-grow: 4;
  flex-shrink: 2;
  justify-content: flex-start;
  align-items: flex-start;
  align-content: stretch;
}
