.main-layout {
  display: flex;
  flex-direction: column;
  
  .app-main {
    padding-top: 1rem;
    box-sizing: border-box;
  
    .container {
      display: inline-block;
      padding: 0 5%;
      box-sizing: border-box;
    }
  }
}
