$dark: #323232;
$light: #ffffff;
$danger: #aa2323;

@function hover-dark($color) {
  @return mix($color, #303030, 85%);
}

$primary: #61dafb;
$secondary: #282c34;

body {
  * {
    font-family: 'Roboto Condensed', sans-serif;
    color: #222222;
  }
}
